<div class="card">
  <div class="card-header">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Filter</span>
      </div>
      <input type="text" class="form-control" aria-describedby="filter">
    </div>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item" *ngFor="let task of tasks" >
        <div class="form-check form-check-inline">
          <input [(ngModel)]="task.done" type="checkbox" class="form-check-input" id="task-{{ task.id }}" >
          <label class="form-check-label" [ngClass]="{ done: task.done }" for="task-{{ task.id }}">
            {{ task.description }}
          </label>
        </div>
        <a *ngIf="task.hasFile" [href]="getAttachmentUrl(task.id)" class="btn btn-dark float-right"> Download File </a>
    </li>
  </ul>
</div>
